@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  background: fixed #faebce;
}

/* This targets webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #ede4d3; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #c4bcab; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners */
}

/* This targets Firefox */
* {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: hsl(41, 17%, 72%) #ede4d3; /* Color of the thumb and track */
}

/* Specific for Firefox older versions */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #c4bcab #ede4d3; /* Color of the thumb and track */
}
